body {
	font: normal x-small
	verdana,arial,helvetica,sans-serif;

	background-color: white;

	margin:0;

	padding:0;
}
#header {
	height: 64px;
	border-bottom: 1px solid #5f99cf;
	background-color: #cee3f8;
}
#header-area {
	height: 18px;
	text-transform: uppercase;
	background-color: #f0f0f0;
	border-bottom: 1px solid gray;
	line-height: 18px;
}
.dropdown {
	height: 18px;
	width: 108.953px;
	float: left;
}
.banner-list {
	height: 18px;
	width: 1231.050px;
	display: inline;
}
.top-front-list {
	display: inline;
}
.top-front-list > li {
	display: inline;
}
.flat-list-bar {
	display: inline;
}
.flat-list-bar > li {
	display: inline;
}
a:link {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a {
	color: #0000ff;
}

a:visited {
	color: #551a8b;
}
#header-bottom-left {
	padding-top: 32px;
}
.tabmenu {
	list-style: none;
	margin-left: 8px;
	margin-top: 5px;
	display: inline;
}
.tabmenu > li {
	margin-top: 5px;
	display: inline;
}
a img {
	width: 70px;
	height: 70px;
}
p {
	margin: 0;
	padding: 0;
}
.content {
	float: left;
	margin-left: 148px;
}
.flat-list {
	list-style: none;
}
.flat-list li {
	display: inline;
}
.rank {
	float: left;
	margin-top: 15px;
	color: #c6c6c6;
	font-family: arial;
	font-size: medium;
	text-align: right;
}	
.thing {
	margin: 0;
	margin-bottom: 8px;
	padding-left: 3px;
	height: 72px;
	width: 885px;
}
.thumbnail {
	float: left;
	margin-bottom: 2px;
	margin-right: 5px;
	margin-top: 0;
	margin-left: 0;
	overflow: hidden;
	width: 70px;
}
.entry {
	overflow: hidden;
	margin-left: 3px;
	opacity: 1;
}
.aside {
	float: right;
	margin: 0px 5px 0px 5px;
	width: 300px;
	height: 742px;
	position: relative;
}
.spacer {
	margin: 7px 0 12px 0;
}
.side-list {
	position: absolute;
	top: 65px;
	left: 0;
	bottom: 0;
	width: 130px;
	padding-right: 14px;
}
.footer-parent {
	clear: both;
}