body {
	font: normal x-small
	verdana,arial,helvetica,sans-serif;

	background-color: white;

	margin:0;

	padding:0;
}
#header {
	height: 64px;
	width: 1345px;
}
#header-area {
	height: 18px;
	width: 1345px;

}
.dropdown {
	height: 18px;
	width: 108.953px;
	float: left;
}
.banner-list {
	height: 18px;
	width: 1231.050px;
	float: right;
	display: inline;
}
.top-front-list {
	display: inline;
}
.top-front-list > li {
	display: inline;
}
.flat-list-bar {
	display: inline;
}
.flat-list-bar > li {
	display: inline;
}

a {
	color: #0000ff;
}

a:visited {
	color: #551a8b;
}
a img {
	width: 70px;
	height: 70px;
}
p {
	margin: 0;
	padding: 0;
}
.flat-list {
	list-style: none;
}
.flat-list li {
	display: inline;
}
.rank {
	float: left;
	margin-top: 15px;
	color: #c6c6c6;
	font-family: arial;
	font-size: medium;
	text-align: right;
}	
.thing {
	margin: 0;
	margin-bottom: 8px;
	padding-left: 3px;
	height: 72px;
	width: 1189px;
}
.thumbnail {
	float: left;
	margin-bottom: 2px;
	margin-right: 5px;
	margin-top: 0;
	margin-left: 0;
	overflow: hidden;
	width: 70px;
}
.entry {
	overflow: hidden;
	margin-left: 3px;
	opacity: 1;
}